:root {
    --white-smoke: #F3F5F8;
    --pastel-blue: #B7C7D6;
    --wild-blue-yonder: #9FB4C8;
    --weldon-blue: #7C99B4;
    --black-coral: #4F6273;
    --charleston-green: #222A32;

    --show: #FFF9F6;
    --lumber: #FFE2D3;
    --peach-puff: #FFD1B9;
    --peach: #FFC09F;
    --blast-off-bronze: #A37B66;
    --old-burgundy: #46352C;

    --baby-powder: #FFFDF5;
    --cornsilk: #FFF8D7;
    --havajo-white: #FFF1A6;
    --flavescent: #FFEE93;
    --dark-khaki: #BAAE6B;
    --taupe: #464129;

    --ghost-white: #F8FAFD;
    --azureish-white: #E0EAF7;
    --soap: #CEDEF2;
    --pale-aqua: #BCD2EE;
    --light-slate-gray: #788698;
    --onyx: #343A41;

    --magnolia: #F5F3FC;
    --pale-lavender: #DAD0F3;
    --maximum-blue-purple: #B6A1E7;
    --medium-purple: #9B7EDE;
    --dark-lavender: #63518E;
    --gunmetal: #2B233D;

    --exploding-kitten: #390000;
    --skip: #00BFF3;
    --attack: #F26522;
    --nope: #ED1C24;
    --shuffle: #A67C52;
    --see-the-future: #EC008C;
    --favor: #636363;
    --cat-card: #B7B7B7;
}
